/* Portrait tablet and small desktops */
@media (max-width: 950px) {

}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
    body {
        overflow-y: visible;
        height: 100%;
        main {
            display: flex;
            flex-direction: column;
            // h1 {
            //     margin-top: 50px;
            // }
        }
        .mainDisplay {
            flex-direction: column;
            padding: 20px;
            form.sell,
            form.buy {
                width: 100%;
                margin: 10px auto;
                padding: 20px 0;
                font-size: calc(1.3rem + 0.7vw);
            }
        }
    }
}

/* Landscape phones and down */
@media (max-width: 480px) {

}