/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
	body {
		height: 100%;
		.mainDisplay {
			margin: 10% auto;
			.sell,
			.buy {
				margin: 20px auto;
				padding: 20px 0;
				font-size: calc(1.3rem + 0.7vw);
			}
		}
	}
}

/* Landscape phones and down */
@media (max-width: 480px) {
	p.results {
		overflow-x: scroll;
	}
}
