
.changeDropDown {
	display: flex;
	justify-content: center;
	align-items: center;
	
	input {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;
	}
	label {
		position: relative;
		margin: 8px auto;
		padding: 5px 12px;
		font-size: calc(1rem + 0.5vw);
		border: 1px white solid;
		background: rgba(255, 255, 255, 0.5);
		&.crypto {
			border-top-right-radius: 50px; 
			border-bottom-right-radius: 50px;
		}
		&.fiat {
			border-top-left-radius: 50px; 
			border-bottom-left-radius: 50px;
		}
		&.fiatColor {
			background: $green;
			color: white;
		}
		&.cryptoColor {
			background: $blue;
			color: white;
		}
	}
}


// input:checked + label {
// 	background-color: #2196f3;
// 	color: white;
// }

// input:focus + .slider {
// 	box-shadow: 0 0 1px #2196f3;
// }

// input:checked + .slider:before {
// 	-webkit-transform: translateX(26px);
// 	-ms-transform: translateX(26px);
// 	transform: translateX(26px);
// }
