.changeDropDown {
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: 'Nugo', sans-serif;
	letter-spacing: 1.5px;
	input {
		position: absolute !important;
		clip: rect(0, 0, 0, 0);
		height: 1px;
		width: 1px;
		border: 0;
		overflow: hidden;
	}
	label {
		cursor: pointer;
		position: relative;
		margin: 8px auto;
		padding: 5px 12px;
		font-size: calc(0.8rem + 0.5vw);
		border: 1px white solid;
		background: black;
		color: white;
		&.crypto {
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
		}
		&.fiat {
			border-top-left-radius: 50px;
			border-bottom-left-radius: 50px;
		}
		&.fiatColor {
			background: $green;
			color: white;
		}
		&.cryptoColor {
			background: $blue;
			color: white;
		}
	}
}
