@import "setup.scss";


main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    .mainDisplay {
        display: flex;
        justify-content: space-around;
        align-items: center;
        height: 70%;
        div {
            width: 50%;
        }
    }
}