@import "setup.scss";

body {
    background-image: linear-gradient(90deg, rgb(204, 204, 204) 50%, rgb(77, 75, 75) 100%);
}
main {
    h1 {
        font-size: calc(5rem + 4vw);
        margin: 0;
    }
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.mainDisplay {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 70%;
    width: 100%;
    border-top: 8px double #3f5761;
    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 10px 10px 30px rgba(102, 102, 102, 0.7), -10px -10px 30px white;
        height: 70%;
        width: 47%;
        border-radius: 8px;
        * {
            margin: 8px;
            text-align: center;
        }
        label {
            font-size: calc(1.7rem + 1vw);
            background: rgb(255, 240, 211);
            padding: 1% 5%;
            border-radius: 8px;
        }
        .dollarValue {
            color: rgba(128, 128, 128, 0.6);
            font-style: italic;
            font-family: 'Poppins', sans-serif;
            text-transform: capitalize;
            border: 2px wheat solid;
            padding: 2px;
        }
        h2 {
            font-size: calc(1rem + 0.7vw);
            font-weight: 400;
            color: white;
            text-shadow: black 2px 2px 5px;
        }
        p.results {
            background: black;
            color: white;
            outline: 2px wheat solid;
            padding: 1% 12%;
        }
    }
    .buy {
        background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(34, 25, 109, 0.61)), url('../assets/crypto.jpg');
        background-size: cover;
        background-position: center;
    }
    .sell {
        background-image: linear-gradient(to bottom, rgba(248, 229, 188, 0.52), rgba(33, 31, 58, 0.61)), url('../assets/fiat.jpg');
        background-size: cover;
        background-position: center;
    }
}