html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Nugo';
  src: local("Nugo"), url(../../assets/CircularStd-Book.ttf) format("truetype");
}

@font-face {
  font-family: 'Squared';
  src: local("Squared"), url(../../assets/SquaredDisplay.ttf) format("truetype");
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Poppins', sans-serif;
  position: relative;
  overflow-y: hidden;
}

img {
  width: 100%;
  height: auto;
  display: block;
}

.wrapper {
  width: 90%;
  max-width: 1080px;
  margin: 0 auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

h1, h2 {
  margin: 0;
}

a {
  text-decoration: none;
}

.modalContainer {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 5;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.596)), to(rgba(255, 255, 255, 0.9))), url("../assets/pexels-gdtography-911738.jpg");
  background-image: linear-gradient(rgba(0, 0, 0, 0.596), rgba(255, 255, 255, 0.9)), url("../assets/pexels-gdtography-911738.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.modalContainer .modalCenter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
  width: 60%;
  font-weight: 600;
  text-align: center;
  line-height: 170%;
  font-size: calc(2rem + 0.7vw);
  letter-spacing: 2px;
}

.modalContainer .modalCenter .start {
  background: black;
  font-family: 'Squared', sans-serif;
  font-size: calc(2rem + 1vw);
  color: white;
  padding: 1% 5%;
  margin: 20px;
  border: none;
  border: 1px solid white;
  border-radius: 5px;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.modalContainer .modalCenter .start:hover, .modalContainer .modalCenter .start:focus {
  background: white;
  color: black;
  border: 1px solid black;
}

body {
  background: black;
  position: relative;
  height: 100vh;
  font-family: 'Squared', sans-serif;
}

main {
  height: calc(100% - 26.95px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main h1 {
  font-size: calc(7rem + 5vw);
  text-align: center;
  color: white;
  z-index: 999;
}

.mainDisplay {
  font-family: 'Squared', sans-serif;
  letter-spacing: 1.5px;
  border-top: white 1px solid;
}

.mainDisplay .sell,
.mainDisplay .buy {
  padding: 60px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
  width: 100%;
  border-radius: 5px;
  background: transparent;
}

.mainDisplay .sell .labelOneDiv .labelOne,
.mainDisplay .buy .labelOneDiv .labelOne {
  font-size: calc(3rem + 1vw);
  color: white;
  text-align: center;
  display: inline-block;
}

.mainDisplay .sell .dropDown:focus,
.mainDisplay .sell .dropDown:hover,
.mainDisplay .buy .dropDown:focus,
.mainDisplay .buy .dropDown:hover {
  -webkit-box-shadow: 3px 3px 8px white;
          box-shadow: 3px 3px 8px white;
}

.mainDisplay .sell .flex,
.mainDisplay .buy .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.mainDisplay .sell .selectDiv,
.mainDisplay .buy .selectDiv {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.mainDisplay .sell .selectDiv select,
.mainDisplay .buy .selectDiv select {
  border: white 1px solid;
  border-radius: 1px;
  padding: 5px 0;
  width: 100%;
  font-family: 'Nugo', monospace;
  margin: 8px;
  border-radius: 1px;
  text-align: center;
}

.mainDisplay .sell .dollarValue,
.mainDisplay .buy .dollarValue {
  font-family: 'Nugo', monospace;
  text-transform: capitalize;
  border: white 1px solid;
  width: 40%;
  height: 35px;
  margin: 8px;
  border-radius: 3px;
  text-align: center;
}

.mainDisplay .sell h2,
.mainDisplay .buy h2 {
  color: white;
  font-size: 2rem;
  font-weight: 100;
  font-family: 'Nugo', monospace;
  margin-top: 10px;
}

.mainDisplay .sell button.submitBtn,
.mainDisplay .buy button.submitBtn {
  cursor: pointer;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  border-radius: 3px;
  height: 35px;
  width: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Nugo', monospace;
  letter-spacing: 1.5px;
}

.mainDisplay .sell button.submitBtn:focus, .mainDisplay .sell button.submitBtn:hover,
.mainDisplay .buy button.submitBtn:focus,
.mainDisplay .buy button.submitBtn:hover {
  background: #333;
}

.mainDisplay .sell button.submitBtn:active,
.mainDisplay .buy button.submitBtn:active {
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.75);
}

.mainDisplay .sell button.submitBtn,
.mainDisplay .sell p.results,
.mainDisplay .buy button.submitBtn,
.mainDisplay .buy p.results {
  color: white;
  font-size: 1.7rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 2px;
  border: 1px white solid;
}

.mainDisplay .sell button.submitBtn,
.mainDisplay .buy button.submitBtn {
  background: #a8a8a8;
  margin: 8px;
}

.mainDisplay .sell p.results,
.mainDisplay .buy p.results {
  font-family: 'Nugo', sans-serif;
  background: rgba(255, 255, 255, 0.7);
  height: 30px;
  width: 50%;
}

.changeDropDown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Nugo', sans-serif;
  letter-spacing: 1.5px;
}

.changeDropDown input {
  position: absolute !important;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  width: 1px;
  border: 0;
  overflow: hidden;
}

.changeDropDown label {
  position: relative;
  margin: 8px auto;
  padding: 5px 12px;
  font-size: calc(0.8rem + 0.5vw);
  border: 1px white solid;
  background: black;
  color: white;
}

.changeDropDown label.crypto {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
}

.changeDropDown label.fiat {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
}

.changeDropDown label.fiatColor {
  background: #0bd666;
  color: white;
}

.changeDropDown label.cryptoColor {
  background: #3a8fff;
  color: white;
}

footer {
  font-family: 'Nugo', sans-serif;
  text-align: center;
  letter-spacing: 2px;
  color: rgba(255, 255, 255, 0.733);
  border-top: 1px solid white;
  padding: 5px 0;
  font-size: calc(1rem + 0.5vw);
}

footer .bmac,
footer .karan {
  color: rgba(113, 255, 137, 0.6);
}

/* Portrait tablet and small desktops */
/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  body {
    overflow-y: visible;
    height: 100%;
  }
  body main {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .mainDisplay {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 20px 0;
    margin: 8% auto;
  }
  body .mainDisplay .sell,
  body .mainDisplay .buy {
    width: 100%;
    height: 100%;
    margin: 20px auto;
    padding: 20px 0;
    font-size: calc(1.3rem + 0.7vw);
  }
}

/* Landscape phones and down */
